body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
}


.container {
    width: 90%;
    max-width: 600px;
    margin-top: 20px; 
    text-align: center;
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin: 0;
    padding-top: 1vh;
}

.brand-name {
    font-family: 'Fredoka One', cursive;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #FF4081;
    line-height: 1.2;
    margin-bottom: 4vh; 
}

.brain-image {
    width: 40%;
    max-width: 240px;
    margin: 2vh auto 4vh; 
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 80px; 
    margin-bottom: 4vh; 
}

.music-button {
    position: absolute; 
    bottom: 20px;    
    right: 20px;    
    z-index: 10;    
    
    font-size: 1.5em;
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.music-button:hover {
    background-color: #FFB300;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.5em;
    min-width: 150px; 
    font-size: 1em; 
    color: white;
    background-color: #3498DB;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button i {
    font-size: 64px;
    margin-top: 30px; 
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.button:hover {
    background-color: #2E86C1;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.button:hover i {
    transform: rotate(10deg);
}


.home-button {
    font-family: 'Fredoka One', cursive;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #FF4081;
    text-decoration: none;
    display: block;
    margin: 0 auto; 
    transition: color 0.3s ease;
    text-align: center;
    /* ... other styles ... */
}
    
.home-button:hover {
    color: #3498DB; 
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    padding: 10px 15px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: background-color 0.2s;
}

.key {
    width: 60px; 
    height: 60px;
    margin: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #f7f7f7;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-radius: 5px; 
}

.key:hover {
    background-color: #eaeaea;
}


#key-delete, #key-submit {
    flex: 1 0 auto; 
    width: auto;
    margin: 5px;
}

.keyboard-row, .riddle-keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin-top: 20px; 
    margin-bottom: 25px;
}

.math-input {
    width: 80%;
    max-width: 400px; 
    padding: 10px;
    margin: 20px auto; 
    font-size: 1em;
    display: block;
    text-align: center;
}

.riddle-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto; 
    font-size: 1em;
    display: block;
    text-align: center;
}

.pattern-input {
    width: 80%; 
    max-width: 400px; 
    padding: 10px;
    margin: 20px auto;
    font-size: 1em;
    display: block;
    text-align: center;
}


#hint-buttons-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.hint-button {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    border: none;
    background-color: #3498DB;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.hint-button:hover {
    background-color: #2E86C1;
}

.hint-button i {
    pointer-events: none;
    font-size: 36px
}

#riddlekeyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.riddle-key {
    padding: 10px 15px; 
    margin: 0 5px; 
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    transition: background-color 0.2s;
}

.riddle-key:hover {
    background-color: #e2e2e2;
}

.buttons-and-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-buttons-left,
.circle-buttons-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle-button {
    width: 100px;  
    height: 100px; 
    margin: 45px;  
    border-radius: 50%; 
    border: 2px solid #3498DB;
    background-color: #3498DB;
    font-size: 1em; 
    cursor: pointer;
}

.circle-button i {
    font-size: 48px; 
    margin-top: 28px; 
    transition: transform 0.3s ease;
    color: #FFFFFF;
}

.circle-button::after {
    content: ''; 
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.circle-button:hover {
    background-color: #2E86C1;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.circle-button:hover i {
    transform: rotate(10deg);
}

.wrapper{
    width: 100%;
    height: 100%;
}

.leaderboard{
    width: 700px;
    height: 500px;
    margin: 50px auto 0;
    background: #3498DB;
    border-radius: 10px;
    padding: 25px 40px;
    position: relative;
}

.leaderboard ul{
    display: flex;
}

.leaderboard ul li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    list-style-type: none;
}

.leaderboard ul li:hover,
.leaderboard ul li.active{
    color: white;
}

.leaderboard_wrapper{
    position: absolute;
    top: 100px;
    left: 40px;
    background: #FF4081;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.leaderboard_wrapper .leaderboard_item{
    padding: 25px;
}

.leaderboard_wrapper .leaderboard_member{
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid black;
}

.leaderboard_wrapper .leaderboard_item .leaderboard_member{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.leaderboard_wrapper .leaderboard_member:first-child{
	padding-top: 0;
}

.leaderboard_wrapper .leaderboard_member:last-child{
	padding-bottom: 0;
	border-bottom: 0;
}

.leaderboard_wrapper .leaderboard_member .name{
	margin: 0 20px;
	width: calc(100% - 150px);
}

.leaderboard_wrapper .leaderboard_member .name p{
	color: #000000;
}

.leaderboard_wrapper .leaderboard_member .name p span{
	margin-right: 5px;
}

.leaderboard_wrapper .leaderboard_member .points{
	width: 100px;
	color: #000000;
}

.leaderboard_wrapper .leaderboard_member .name .score_bar_wrap{
	width: 100%;
	height: 5px;
	background: #ccc;
	margin-top: 5px;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.leaderboard_wrapper .leaderboard_member .name .score_bar_wrap .inner_score_bar{
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	background: #fff;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.achievement-title {
    margin-bottom: 30px; /* Adjust the value to increase or decrease the space */
}

.achievement-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement-button {
    position: relative;
    padding: 1em 1.5em;
    min-width: 150px;
    font-size: 1em;
    color: white;
    background-color: #808080; /* Grey */
    border: none;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 15px;

    /* Combine locked and unlocked image styles */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.achievement-button .achievement-text {
    display: inline-block;
}

/* Hide the unlocked icon by default */
.achievement-button .unlocked-icon {
    display: none;
}
/* Update the display based on the unlocked state */
.achievement-button[data-unlocked="true"] .locked-icon {
    display: none; /* Hide the locked icon when achievement is unlocked */
}

.achievement-button[data-unlocked="true"] .unlocked-icon {
    display: inline-block; /* Display the unlocked icon when achievement is unlocked */
}

/* Update the background color for unlocked buttons */
.achievement-button[data-unlocked="true"] {
    background-color: #3498DB; /* Blue */
}

.signout-button {
    position: absolute; 
    bottom: 20px;    
    left: 20px;    
    z-index: 10;    
    
    font-size: 1.5em;
    background-color: #FFC107;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.progress-stats {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-around; 
    align-items: baseline; 
    width: 100%;
    margin: 0; 
}

.progress-stats p {
    margin: 0 30px; 
    margin-left: 55px;
    margin-right: 55px;
    letter-spacing: 3px;
}

.progress-stats-values {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    margin-top: 20px
}

.progress-stats-values p {
    margin: 0 10px; 
    margin-left: 75px;
    margin-right: 75px;

}

.top-progress-stats {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.top-progress-stats p {
    margin: 0 30px; 
    margin-left: 55px;
    margin-right: 55px;
    letter-spacing: 3px;
}

.top-progress-stats-values {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    
}

.top-progress-stats-values p {
    margin: 0 10px; 
    margin-left: 75px;
    margin-right: 75px;
}

